.modal-header{
    color:white;
    background-color: #008081;
}

    input{
        display:block;
        width:80%;
    }

    .close{
        color:white;
        background-color: red;
    }
    .add{
        margin: 20px 0px 20px 0px;
        position: sticky;
        top: 0;
    }
